.container {
  width: 1100px;
  height: 600px;
  margin: auto;
  margin-top: 75px;
  border-radius: 12px;
  background-image: linear-gradient(180deg, #201df1 0%, #0c275a 100%);
}

.cityName {
  margin-right: 15px;
}

.top-bar {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.top-bar input {
  width: 362px;
  height: 40px;
  background: #ebfffc;
  border: none;
  border-radius: 40px;
  padding-left: 40px;
  color: #626262;
  font-size: 20px;
  font-weight: 400;
}

.search-icon {
  width: 40px;
  height: 40px;
  background: #ebfffc;
  border-radius: 40px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.weather-temp {
  color: white;
  font-size: 30px;
  font-weight: 400;
  display: flex;
  justify-content: center;
}

.weather-location {
  margin-top: 10px;
  font-size: 35px;
  font-weight: 400;
  color: white;
  display: flex;
  justify-content: center;
}

.data-container {
  color: white;
  display: flex;
  justify-content: center;
}


.element {
  margin: auto;
  display: flex;
  align-items: flex-start;
  gap: 12px;
  margin-top: 30px;
}

.data {
  font-size: 30px;
  font-weight: 400;
}

.text {
  font-size: 20px;
  font-weight: 400;
}

.icon {
  margin-top: 15px;
  margin-right: 10px;
}
.forecast-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}

.daily-forecast {

  width: 130px;
  height: 170px;
  background-color: rgb(223, 222, 212);
  border: 0px solid rgb(126, 160, 248);
  border-radius: 20px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
